/* General definitions */
body {
	padding:0;
	margin:0;
	font-family: 'Ubuntu', sans-serif;
	a {
		color: #06A018;
		text-decoration:none;
	    -webkit-transition: text-shadow 200ms ease-out 0s;
	    -moz-transition: text-shadow 200ms ease-out 0s;
	    -o-transition: text-shadow 200ms ease-out 0s;
	    transition: text-shadow 200ms ease-out 0s;
	    &:hover {
	    	text-shadow:0px 1px 0px #000;
	    }
	}
	#preloader {
		width:0px;
		height:0px;
		overflow:hidden; 
	}
}

/* Body Definitions */
#body {
	#content {
		width: 100%;
		color: grey;
		padding:15px;
		font-size:14px;
		h1 {
			font-size:50px;
		}
		p{
			font-size:14px;
		}
		img {
			margin-top:30px;
			width:100%;
			/*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
			box-shadow: 3px 0px 0px #06A018, -3px 0px 0px #06A018, 0px 3px 0px #06A018, 0px -3px 0px #06A018,
						3px 3px 0px #06A018, -3px -3px 0px #06A018, -3px 3px 0px #06A018, 3px -3px 0px #06A018;
		}
		a {
			color: #06A018;
			text-decoration:none;
		    -webkit-transition: text-shadow 200ms ease-out 0s;
		    -moz-transition: text-shadow 200ms ease-out 0s;
		    -o-transition: text-shadow 200ms ease-out 0s;
		    transition: text-shadow 200ms ease-out 0s;
		    &:hover {
		    	text-shadow:0px 1px 0px #000;
		    }
		}
		.loadingHeader {
			color:rgba(0,0,0,0);
		}
		.loadingContent {
			display:block;
			text-align:center;
			font-size:100px;
			.bottomCog {
				position: relative;
				bottom: 36px;
				font-size: 55px;
				right: 36px;
			}
			.topCog {
				font-size: 40px;
			}
		}
	}
	#content, #leftPanel, #rightPanel {
		display:table-cell;
		position:relative;
		padding:15px;
	}
	#leftPanel, #rightPanel {
		background-color: rgba(234, 234, 234, 0.58);
		width:200px;
		text-align:center;
	}
}

#pageWrap {
	padding:0px;
	margin:0 auto;
	width: 1200px;
	max-width:initial;
	overflow:hidden;
}

/* Dynamic change class */
.displayToBlock {
	display:block !important;
	width:initial !important;
}

