/* Header definitions */

#header {
    position: relative;
    display: block;
    top:0px;
    width:100%;
    height: 200px;
    #headings {
        display:block;
        width: 100%;
        height:200px;
        .logo {
            position:absolute;
            float:left;
            text-align:right;
            margin:10px 10px;
            bottom:0px;
            a {
                @extend .colorTransition;
                font-size: 40px;
                font-weight:700;
                text-decoration: none;
                color: black;
                text-shadow:1px 1px 0px #06A018,
                            1px 0px 0px #06A018,
                            0px 1px 0px #06A018,
                            -1px -1px 0px #06A018,
                            -1px 0px 0px #06A018,
                            0px -1px 0px #06A018,
                            3px 3px 9px #000401;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

#headerBg {
    position:absolute;
    width:100%;
    height:200px;
    background-image: url("/elements/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left top;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
